<div class="container">
  <div class="row height-fix">
    <side-navigation [isMainCollapsed]="false" [isPipingCollapsed]="false"></side-navigation>
    <div class="col-md-8 content">
      <h3>Pre-Insulated distribution piping Farming complex</h3>
      <div class="row">
        <div class="col-6">
            <p class="picture-instructions">Click on picture to view larger image and description.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="../assets/img/woodburner.jpg" (click)="woodburnerModal.show()" class="img-fluid img-thumbnail">
            <div bsModal #woodburnerModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                                <span class="pull-left"></span>
                                <button type="button" class="close pull-right" (click)="woodburnerModal.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body">
                            <img src="../assets/img/woodburner.jpg" class="mw-100 mh-100">
                            <p>New straw and wood burning boiler producing 1,000,000 BTUs for hot water.</p>
                            <p>Buried pre-insulated piping installed for the distribution of the hot water to provide heating in the main farmhouse, out-buildings and a swimming pool.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
          <img src="../assets/img/trenches.jpg" (click)="trenchesModal.show()" class="img-fluid img-thumbnail">
            <div bsModal #trenchesModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                                <span class="pull-left"></span>
                                <button type="button" class="close pull-right" (click)="trenchesModal.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body">
                            <img src="../assets/img/trenches.jpg" class="mw-100 mh-100">
                            <p>The network of pre-insulated piping was pre-fabricated above ground and lowered into pre-excavated trenches.</p>
                            <p>All welded pipe joints were then encapsulated with field enclosures and insulation inserts for a complete continuous waterproof barrier.</p>
                            <p>4-inch carbon steel piping with an 8-inch HDPE outer casing provided the spine run to the building entry points.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>