<div class="col" style="width: 250px;">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a routerLink="/distribution-piping" class="nav-link" (click)="isCollapsed = !isCollapsed">Distribution Piping</a>
        </li>
        <div [collapse]="isCollapsed">
            <li class="nav-item">
                <a routerLink="/fertilizer-and-chemical" class="nav-link">Fertilizer and Chemical</a>
            </li>
            <li class="nav-item">
                <a routerLink="/retail" class="nav-link">Retail</a>
            </li>
            <li class="nav-item">
                <a routerLink="/wood-burner" class="nav-link">Wood Burner</a>
            </li>
        </div>
    </ul>
</div>