

<!--Contact Page-->
<!--<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
        <div class="form-area">  
            <form role="form">
            <br style="clear:both">
              <h3 style="margin-bottom: 25px; text-align: center;">Contact Us</h3>
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" placeholder="Message" rows="7"></textarea>
              </div>
            <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Submit Message</button>
            </form>
        </div>
    </div>
  </div>
</div>-->

<!--Industry Information-->
<!--<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3>Industry</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus justo, pharetra eu turpis quis, porta dignissim erat. Suspendisse eget placerat justo, et consequat tellus.</p>
      <p>Nulla dignissim diam in finibus efficitur. In elit nulla, mollis vel est et, mattis scelerisque nulla. Donec non lacus placerat, varius enim vitae, porttitor ante. Praesent consequat lectus ac nisl vehicula aliquam. Donec cursus congue tortor non rutrum. Praesent vitae enim quis enim gravida sollicitudin at sit amet dui. Fusce feugiat pellentesque turpis in elementum. Ut dictum ut ante at sagittis. In commodo viverra luctus. Pellentesque nibh metus, mollis eget varius tincidunt, dignissim vitae felis. In vulputate leo ut euismod consectetur. Ut rutrum blandit ipsum a porttitor.</p>
      <p>Praesent euismod ipsum a ex laoreet sollicitudin. Nam feugiat orci vel tortor luctus, sit amet tincidunt sem commodo. Curabitur rutrum orci nec purus efficitur condimentum. Fusce sit amet nisl felis. Nunc eget orci arcu. Sed blandit risus metus, non viverra quam finibus in. Suspendisse tincidunt vulputate purus quis pharetra. Donec quis enim vitae velit tincidunt ultrices. Pellentesque rhoncus lacus lectus, quis facilisis justo bibendum ac. Ut et odio metus.</p>
      <p>Etiam fringilla leo ac dolor hendrerit feugiat. Aliquam vel aliquet quam. In malesuada, metus ac pharetra aliquam, leo nisl tempus est, luctus pellentesque massa arcu nec erat. Cras consectetur ullamcorper velit, eget porttitor nisl commodo sed. Ut auctor est nisi, ac vehicula mauris molestie in. Suspendisse semper at purus porta commodo. Sed venenatis nisl et arcu lobortis iaculis. Nam aliquam auctor libero, sit amet efficitur turpis dignissim nec. Nam imperdiet urna in feugiat commodo. Suspendisse rutrum sem non dignissim hendrerit. Donec faucibus accumsan ante, sit amet dictum mi imperdiet quis.</p>
    </div>
  </div>
</div>-->

<!--Distribution Piping Information-->
<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link">Distribution Piping</a>
        </li>
        <ul>
          <li class="nav-item">Fertilizer and Chemical</li>
          <li class="nav-item">Retail</li>
          <li class="nav-item">Wood Burner</li>
        </ul>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Distribution Piping</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lectus justo, pharetra eu turpis quis, porta dignissim erat. Suspendisse eget placerat justo, et consequat tellus.</p>
      <p>Nulla dignissim diam in finibus efficitur. In elit nulla, mollis vel est et, mattis scelerisque nulla. Donec non lacus placerat, varius enim vitae, porttitor ante. Praesent consequat lectus ac nisl vehicula aliquam. Donec cursus congue tortor non rutrum. Praesent vitae enim quis enim gravida sollicitudin at sit amet dui. Fusce feugiat pellentesque turpis in elementum. Ut dictum ut ante at sagittis. In commodo viverra luctus. Pellentesque nibh metus, mollis eget varius tincidunt, dignissim vitae felis. In vulputate leo ut euismod consectetur. Ut rutrum blandit ipsum a porttitor.</p>
    </div>
  </div>
</div>-->

<!--Retail Information-->
<!--<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a href="#" class="nav-link">Distribution Piping</a>
        </li>
        <ul>
          <li class="nav-item">Fertilizer and Chemical</li>
          <li class="nav-item">Retail</li>
          <li class="nav-item">Wood Burner</li>
        </ul>
      </ul>
    </div>
    <div class="col-md-6">
      <h3>Retail</h3>
      <p>Roof top heating and cooling water distribution piping at major international store.</p>
      <p>Piping ranging from 1” to 3” carbon steel, pre-insulated using polyurethane foam encapsulated with spirally wound galvanized steel casing.</p>
      <img src="../assets/img/retail1.jpg" class="mw-100">
      <img src="../assets/img/retail2.jpg" class="mw-100" style="padding-top: 1rem;">
    </div>
  </div>
</div>-->

<site-header></site-header>
<router-outlet></router-outlet>