<div class="container">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <a class="navbar-brand" href="#">Prepco Industries</a>
  </nav>
  <div class="jumbotron">
    <h1 class="display-3">Prepco Industries</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam finibus diam nisl, ut convallis sapien.</p>
  </div>
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <img src="../assets/img/beach.jpeg" alt="" class="card-img-top mw-100 mh-100">
      <div class="card-block">
        <h4 class="card-title">Travel</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit sagittis efficitur. Phasellus arcu odio, imperdiet non pulvinar sed, rhoncus et lectus. Duis sit amet fringilla massa. Ut quis consequat neque. Phasellus et euismod libero. Nunc mi nulla, dignissim vel venenatis sed, egestas eu nulla. Nunc facilisis dui at euismod.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Learn More</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../assets/img/bahrain-dust.jpg" alt="" class="card-img-top mw-100 mh-100">
      <div class="card-block">
        <h4 class="card-title">Industrial</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit sagittis efficitur. Phasellus arcu odio, imperdiet non pulvinar sed, rhoncus et lectus. Duis sit amet fringilla massa. Ut quis consequat neque. Phasellus et euismod libero. Nunc mi nulla, dignissim vel venenatis sed, egestas eu nulla. Nunc facilisis dui at euismod.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Learn More</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../assets/img/garden.jpeg" alt="" class="card-img-top mw-100 mh-100">
      <div class="card-block">
        <h4 class="card-title">Home and Garden</h4>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla suscipit sagittis efficitur. Phasellus arcu odio, imperdiet non pulvinar sed, rhoncus et lectus. Duis sit amet fringilla massa. Ut quis consequat neque. Phasellus et euismod libero. Nunc mi nulla, dignissim vel venenatis sed, egestas eu nulla. Nunc facilisis dui at euismod.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Learn More</a>
      </div>
    </div>
  </div>
</div>