<div class="container">
  <div class="row height-fix">
    <side-navigation [isMainCollapsed]="false" [isPipingCollapsed]="false"></side-navigation>
    <div class="col-md-8 content">
      <h3>Fertilizer and Chemical Plant</h3>
      <p>Above ground pre-insulated pipeline to transfer liquid ammonia from supply ship to chemical plant two miles from the dock bay.</p>
      <p>The primary pipeline was constructed using 12-inch dia. Carbon steel pipe with a ¾” thick pipe wall, pre-insulated using polyurethane foam encapsulated 20-inch diameter HDPE outer casing.</p>
      <p>A 3-inch diameter pre-insulated steel pipe ‘piggy-backed’ to the primary pipeline was for the purpose of a circulation delivery to help maintain pressure and temperature of the product.</p>
      <p>During construction, all pipe welds were heated to 600 degrees, tested using radiography procedures.</p>
      <p>Expansion loops and concrete anchor blocks were installed to provide controlled movement of the pipeline.</p>
      <div class="row">
          <div class="col-6">
            <p class="picture-instructions">Click on picture to view larger image.</p>
          </div>
      </div>
      <div class="row">
        <div class="col-6">
          <img src="../assets/img/fertilizer1.jpg" (click)="fertilizerOneModal.show()" class="img-fluid img-thumbnail">
          <div bsModal #fertilizerOneModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                                <span class="pull-left"></span>
                                <button type="button" class="close pull-right" (click)="fertilizerOneModal.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                      <div class="modal-body">
                          <img src="../assets/img/fertilizer1.jpg" class="mw-100 mh-100">
                      </div>
                  </div>
              </div>
          </div>
        </div>
        <div class="col-6">
          <img src="../assets/img/fertilizer2.jpg" (click)="fertilizerTwoModal.show()" class="img-fluid img-thumbnail">
            <div bsModal #fertilizerTwoModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                                <span class="pull-left"></span>
                                <button type="button" class="close pull-right" (click)="fertilizerTwoModal.hide()">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body">
                            <img src="../assets/img/fertilizer2.jpg" class="mw-100 mh-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>