<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Prepco Enterprises LLC</h1>
    <p class="lead">A company with experience and dedication in all our business activities.</p>
    <p class="lead">Our supplies and services are encapsulated with SAFETY – QUALITY – VALUE and are operated using Six Sigma protocols for lean and waste management and to maintain continuous improvement.</p>
  </div>
  <div class="card-deck">
    <div class="card text-center" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">Travel</h4>
        <!--<p class="card-text">A specialist US based travel company offering a complete ‘door to door’ packaged service for Island locations.</p>
        <p class="card-text">Our growing itinerary currently includes our approved specialist agency status for the BAHAMAS – BRITISH VIRGIN ISLANDS – TAHITI – ENGLAND and IRELAND – THE ISLES OF SCILLY – THE CHANNEL ISLES</p>
        <p class="card-text">We are registered with NACTA (National Association of Career Travel Agents) and ARC (Airlines Reporting Corporation)as a Verified Travel Agency and operate as your approved representative of the Princess and Cunard cruise lines.</p>
        <p class="card-text">All our packaged island vacations are based on our knowledge of the location and our direct working association with vendors, suppliers and statutory organizations for the locations such as Tourist Boards and Chambers of Commerce etc. This allow us to provide information that is correct and up-to-date.</p>-->
      </div>
      <a href="https://prepcotravel.com/"><img src="../assets/img/beach1.jpg" alt="" class="card-img-bottom mw-100 mh-100"></a>
    </div>
    <div class="card text-center" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">Industrial</h4>
      </div>
      <img src="../assets/img/bahrain.jpg" alt="" class="card-img-bottom mw-100 mh-100" routerLink="/industry-details">
    </div>
    <div class="card text-center" style="width: 20rem;">
      <div class="card-block">
        <h4 class="card-title">Home and Garden</h4>
        <!--<p class="card-text">We have an idea, we evaluate, we design, install a prototype, prove operation and if it passes we offer to the public.</p>
        <p class="card-text">These procedures have been behind our garage security gate and our Dutch door (sometimes known as stable door). Click on learn more</p>
        <p class="card-text">We offer this section of our website to anyone who has a commodity or a service applicable to the home and garden market. Please contact us for further information.</p>-->
      </div>
      <img src="../assets/img/garden2.jpg" alt="" class="card-img-bottom mw-100 mh-100" routerLink="/home-and-garden">
    </div>
  </div>
</div>