<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Prepco Enterprises LLC</h1>
    <p class="lead">A company with experience and dedication in all our business activities.</p>
    <p class="lead">Our supplies and services are encapsulated with SAFETY – QUALITY – VALUE and are operated using Six Sigma protocols for lean and waste management and to maintain continuous improvement.</p>
  </div>
  <div class="card-deck">
    <div class="card" style="width: 20rem;">
      <a href="https://prepcotravel.com/"><img src="../assets/img/beach1.jpg" alt="" class="card-img-top mw-100 mh-100"></a>
      <div class="card-block">
        <h4 class="card-title">Travel</h4>
        <p class="card-text">A specialist US based travel company offering a complete ‘door to door’ packaged service for Island locations.</p>
        <p class="card-text">Our growing itinerary currently includes our approved specialist agency status for the BAHAMAS – BRITISH VIRGIN ISLANDS – TAHITI – ENGLAND and IRELAND – THE ISLES OF SCILLY – THE CHANNEL ISLES</p>
        <p class="card-text">We are registered with NACTA (National Association of Career Travel Agents) and ARC (Airlines Reporting Corporation)as a Verified Travel Agency and operate as your approved representative of the Princess and Cunard cruise lines.</p>
        <p class="card-text">All our packaged island vacations are based on our knowledge of the location and our direct working association with vendors, suppliers and statutory organizations for the locations such as Tourist Boards and Chambers of Commerce etc. This allow us to provide information that is correct and up-to-date.</p>
      </div>
      <div class="card-footer">
        <a href="https://prepcotravel.com/" class="card-link">Learn More</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../assets/img/bahrain.jpg" alt="" class="card-img-top mw-100 mh-100" routerLink="/industry-details">
      <div class="card-block">
        <h4 class="card-title">Industrial</h4>
        <p class="card-text">For many years Prepco has provided engineering capabilities for the Mining and associated industries plus specialist pipeline solutions for the buried and above ground pipeline distribution of liquid mediums.</p>
        <p class="card-text">Our services include feasibility studies, design and Project Management for a host of industrial and commercial applications.</p>
        <p class="card-text">‘Safety comes first’ is our number one in all our services. The implications of placing this statement in second place IS serious and can be life threatening. We make it a rule that every employee or sub-contractor is knowledgeable with health and safety requirements, is responsible and accountable for ensuring safety at work and is equal to all when realizing and making decisions regarding safety.</p>
        <p class="card-text">Project Management is essential with what we do to ensure proper recording, problem solving, improvement processes, efficiency, value and communication.</p>
      </div>
      <div class="card-footer">
        <a routerLink="/industry-details" class="card-link">Learn More</a>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <img src="../assets/img/garden2.jpg" alt="" class="card-img-top mw-100 mh-100">
      <div class="card-block">
        <h4 class="card-title">Home and Garden</h4>
        <p class="card-text">We have an idea, we evaluate, we design, install a prototype, prove operation and if it passes we offer to the public.</p>
        <p class="card-text">These procedures have been behind our garage security gate and our Dutch door (sometimes known as stable door). Click on learn more</p>
        <p class="card-text">We offer this section of our website to anyone who has a commodity or a service applicable to the home and garden market. Please contact us for further information.</p>
      </div>
      <div class="card-footer">
        <a href="#" class="card-link">Learn More</a>
      </div>
    </div>
  </div>
</div>