<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Prepco Enterprises LLC</h1>
    <p class="lead">A company with experience and dedication in all our business activities.</p>
    <p class="lead">Our supplies and services are encapsulated with SAFETY – QUALITY – VALUE and are operated using Six Sigma protocols for lean and waste management and to maintain continuous improvement.</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto col-sm-12">
      <div class="card-deck">
        <div class="card text-center" style="width: 20rem;">
          <div class="card-block">
            <h4 class="card-title card-header-text">Travel</h4>
          </div>
          <a href="https://prepcotravel.com/" target="_blank"><img src="../assets/img/beach1.jpg" alt="" class="card-img-bottom mw-100 mh-100"></a>
        </div>
        <div class="card text-center" style="width: 20rem;">
          <div class="card-block">
            <h4 class="card-title card-header-text">Industrial</h4>
          </div>
          <img src="../assets/img/bahrain.jpg" alt="" class="card-img-bottom mw-100 mh-100" routerLink="/industry-details">
        </div>
        <div class="card text-center" style="width: 20rem;">
          <div class="card-block">
            <h4 class="card-title card-header-text">Home and Garden</h4>
            <!--<p class="card-text">We have an idea, we evaluate, we design, install a prototype, prove operation and if it passes we offer to the public.</p>
            <p class="card-text">These procedures have been behind our garage security gate and our Dutch door (sometimes known as stable door). Click on learn more</p>
            <p class="card-text">We offer this section of our website to anyone who has a commodity or a service applicable to the home and garden market. Please contact us for further information.</p>-->
          </div>
          <img src="../assets/img/garden2.jpg" alt="" class="card-img-bottom mw-100 mh-100" routerLink="/home-and-garden">
        </div>
      </div>
    </div>
  </div>
</div>