<div class="container">
  <div class="row height-fix">
    <side-navigation></side-navigation>
    <div class="col-md-8 content">
      <h3>Retail</h3>
      <div class="row">
        <div class="col-6">
          <img src="../assets/img/retail1.jpg" (click)="retailOneModal.show()" class="img-fluid img-thumbnail">
            <div bsModal #retailOneModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="../assets/img/retail1.jpg" class="mw-100 mh-100">
                            <p>Roof top heating and cooling water distribution piping at major international store.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
          <img src="../assets/img/retail2.jpg" (click)="retailTwoModal.show()" class="img-fluid img-thumbnail">
            <div bsModal #retailTwoModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-body">
                            <img src="../assets/img/retail2.jpg" class="mw-100 mh-100">
                            <p>Piping ranging from 1” to 3” carbon steel, pre-insulated using polyurethane foam encapsulated with spirally wound galvanized steel casing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>