<div class="container">
  <div class="row">
    <side-navigation></side-navigation>
    <div class="col-8">
        <h3>Bahrain</h3>
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img/stacker-reclaim-bahrain.jpg" class="mw-100">
                <h4>Pump Station mounted on rear Stacker-Reclaim Machine to provide dust suppression at transfer points in both stacking and reclaiming modes.</h4>
            </div>
            <div class="col-6">
                <img src="../../../../assets/img/after-ds.jpg" class="mw-100">
                <h4>In addition to suppression at the boom discharge and bucket discharge points, sprays are also located to treat the stockpile surface</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img/pump-station.jpg" class="mw-100">
                <h4>Pre-assembled containerized Pump Station (prior to paint finish) with Radio Control to Ship Unloading dust suppression systems</h4>
                <h4></h4>
            </div>
            <div class="col-6">
                <img src="../../../../assets/img/internal-pump-station.jpg" class="mw-100">
                <h4>Internal view of multi-stage vertical pumps with surfactant injection systems</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img/hopper.jpg" class="mw-100">
                <h4>Ship Unloader Receiving Hopper</h4>
            </div>
        </div>
    </div>
  </div>
</div>