<div class="container">
  <div class="row">
    <side-navigation></side-navigation>
    <div class="col-8">
        <h3>Bahrain</h3>
        <div class="row">
            <div class="col-6">
                <img src="../../../../assets/img/stacker-reclaim-bahrain.jpg" (click)="bahrainModal.show()" class="img-fluid img-thumbnail">
                <div bsModal #bahrainModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="../../../../assets/img/stacker-reclaim-bahrain.jpg" class="mw-100 mh-100">
                                <p>Pump Station mounted on rear Stacker-Reclaim Machine to provide dust suppression at transfer points in both stacking and reclaiming modes.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="../../../../assets/img/after-ds.jpg" (click)="afterDsModal.show()" class="img-fluid img-thumbnail">
                <div bsModal #afterDsModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="../../../../assets/img/after-ds.jpg" class="mw-100 mh-100">
                                <p>In addition to suppression at the boom discharge and bucket discharge points, sprays are also located to treat the stockpile surface</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem;">
            <div class="col-6">
                <img src="../../../../assets/img/pump-station.jpg" (click)="pumpStationModal.show()" class="img-fluid img-thumbnail">
                <div bsModal #pumpStationModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="../../../../assets/img/pump-station.jpg" class="mw-100 mh-100">
                                <p>Pre-assembled containerized Pump Station (prior to paint finish) with Radio Control to Ship Unloading dust suppression systems</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <img src="../../../../assets/img/internal-pump-station.jpg" (click)="internalPumpStationModal.show()" class="img-fluid img-thumbnail">
                <div bsModal #internalPumpStationModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="../../../../assets/img/internal-pump-station.jpg" class="mw-100 mh-100">
                                <p>Internal view of multi-stage vertical pumps with surfactant injection systems</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 1rem;">
            <div class="col-6">
                <img src="../../../../assets/img/hopper.jpg" (click)="hopperModal.show()" class="img-fluid img-thumbnail">
                <div bsModal #hopperModal="bs-modal" class="modal fade" tabeindex="-1" role="dialog">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body">
                                <img src="../../../../assets/img/hopper.jpg" class="mw-100 mh-100">
                                <p>Ship Unloader Receiving Hopper</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>