/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #4c7eb1;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #EEEEEE;
}

.fade.in {
  opacity: 1;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-backdrop.in {
  opacity: 0.5;
}

a {
    color: inherit;
}

a:hover {
    color: #E78548;
}

li {
    cursor: pointer;
    color: #F8BC4C;
    text-shadow: 1px 1px 2px #000;
    font-weight: 700;
}

li:hover {
    color: #E78548;
}

.collapsed-list {
    padding-left: 1rem;
}

side-navigation {
    background-color: #AABAC5;
}

pdf-viewer {
    padding-top: 1rem;
}

.content {
    background-color: #94B5C2;
    padding-bottom: 2rem;
}

.prepco-nav {
    background-color: #EEEEEE;
    color: #F8BC4C;
    text-shadow: 1px 1px 2px #000;
}

.height-fix {
    min-height: 600px;
}

h3 {
    padding-top: 1rem;
}

.card-deck {
    padding-bottom: 2rem;
}

.card-img-bottom {
    padding-bottom: .5rem;
}

.jumbotron {
    margin-top: 1rem;
}

.card{
    margin-bottom: 1rem;
}

.card-header-text {
    font-size: 2rem;
}

.picture-instructions {
    font-style: italic;
    font-size: .80rem;
}