<div class="container">
  <div class="row">
    <side-navigation></side-navigation>
    <div class="col-8">
      <h3>Retail</h3>
      <p>Roof top heating and cooling water distribution piping at major international store.</p>
      <p>Piping ranging from 1” to 3” carbon steel, pre-insulated using polyurethane foam encapsulated with spirally wound galvanized steel casing.</p>
      <img src="../assets/img/retail1.jpg" class="mw-100">
      <img src="../assets/img/retail2.jpg" class="mw-100" style="padding-top: 1rem;">
    </div>
  </div>
</div>