<div class="container">
  <div class="row height-fix">
    <side-navigation></side-navigation>
    <div class="col-md-8 content">
        <div class="form-area"> 
            <form role="form" #contactForm="ngForm" (ngSubmit)="sendEmail()">
            <br style="clear:both">
              <h3 style="margin-bottom: 25px;">Contact Us</h3>
              <p *ngIf="successful" class="mail-success">Message sent. We will contact you shortly.</p>
              <div class="form-group">
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" [(ngModel)]="model.name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" id="email" name="email" placeholder="Email" [(ngModel)]="model.email" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" type="textarea" id="message" name="text" placeholder="Message" rows="7" [(ngModel)]="model.text" required></textarea>
              </div>
            <button type="submit" [disabled]="!enableSubmitButton(contactForm.valid)" id="submit" name="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </div>
  </div>
</div>